<!-- {% extends 'admin/base.html' %}

{% block content %}
    <div style="width: 70%; margin: auto;">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="json_upload">
            <button type="submit" style="width: 100%; background-color: #79aec8; color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Upload File</button>
        </form>
    </div>
{% endblock %} -->


